/* src/styles/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.icon {
  color: blue;
  font-size: 40px;
}

@font-face {
  font-family: adminbold;
  src: url(./Assests/Fonts/circular-bold.TTF);
}

@font-face {
  font-family: adminmedium;
  src: url(./Assests/Fonts/circulur-medium.TTF);
}

@font-face {
  font-family: adminblack;
  src: url(./Assests/Fonts/circulur-std-black.TTF);
}

@font-face {
  font-family: adminstdbook;
  src: url(./Assests/Fonts/circulur-std-book.TTF);
}

.Admin_bold {
  font-family: adminbold !important;
}

.Admin_black {
  font-family: adminblack !important;
}

.admin_medium {
  font-family: adminmedium !important;
}

.Admin_std {
  font-family: adminstdbook !important;
}

.sales {
  font-weight: normal !important;
}

/* In your CSS file or within your Tailwind configuration */
.hover-text-yellow {
  transition: color 0.3s ease; /* Smooth transition effect */
}

.hover-text-yellow:hover {
  color: #ffc400; /* Yellow color when hovered */
}

.sidebar-menu {
  position: fixed;
  background-color: #f4f4f8;
  /* top: 0; */
  overflow-y: auto;
  height: 100vh;
  /* width: 16rem; */
  z-index: 9;
}

.main-content {
  overflow-y: auto;
  height: calc(100vh - 96px);
}

.importBtn {
          margin-left: 42rem;
}


.dot {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #0A64F9;
}

.border-customColor {
  border-color: #438AFF; /* Replace with your desired border color */
}

.custom-tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(10px); /* Adjust the value as needed */
}

.custom-box {
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  opacity: 1;
}

.custom-button {
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  opacity: 1;

}

.menu-item.active {
  background-color: gray; /* Set the default active background color */
}

.menu-item:hover {
  color: #FFC400; /* Set the hover color */
}